.scroll-menu {
    overflow: auto;
    white-space: nowrap;
  }
  
.scroll-menu a {
  background-color: transparent;
  border: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: larger;
  text-decoration: none;
}