div {
    display: block;
    unicode-bidi: isolate;
}

.blog-posts {
    grid-gap: 2%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    padding: 16px 0;
    width: 100%;
}

@media (max-width: 1024px) {
    .blog-posts {
        grid-template-columns: 48% 48%;
    }
}

@media (max-width: 768px) {
    .blog-posts{
        grid-template-columns: 100%;
    }
}